
.navbar{
    display: flex;
    background-color: rgb(250, 250, 250);
    border-bottom: rgb(255, 0, 0) 3px solid;
    position: fixed;
    padding: 14px;
    top: 0;
    z-index: 9999;
    width: 100%; 
}
.leftcontainer{
    display:flex;
    justify-content: flex-start;
    flex: 1;
}
.midcontainer{
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
}
.rightcontainer{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.mainlogo{
    color:rgb(255, 0, 0); 
    font-size: 40px;
    text-decoration:none;
    font-weight: bold;
    padding-left: 50px;
}
.link{
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border-bottom: rgb(255, 255, 255) 1px solid;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(255, 0, 0);
    font-size: 20px;
    text-decoration:none;
    font-weight: bold;
}
.link:hover{
  border-bottom: red 4px solid;
  color:rgb(255, 0, 0); 
  font-weight: bolder;
}
.dropdown{
  width: 250px;
  height: 150px;
  display: block;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding: 10px;
  border-top:red 3px solid;
  border-bottom:red 3px solid;
  padding-top:10px;
  padding-bottom: 5px;
}
.dropdown a:hover {
  background-color: rgb(255, 49, 49);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
.down{
  justify-content: flex-end;
  color: rgb(255, 0, 0);
  background-color: red;
}
.text{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  padding-left: 6px;
  font-weight: bold;
  display: flex;
  text-align: center;
  color:rgb(255, 0, 0);
}
.smalltext{
  display: flex;
  font-size: 12px;
  text-align: center;
  padding: 1px;
  padding-left: 20px;
}
.icons{
  font-size: 30px;
  padding-right: 5px;
}
.icon{
    height: 30px;
    width: 30px;
    margin-right: 7px;
}
.logo{
  color: rgb(255, 0, 0);
  font-size: 35px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 15px;
  margin-right: 10px;
  border: rgb(255, 255, 255) 2px solid;
  padding: 4px;
  border-radius: 50%;
}
.logo:hover{
  color: rgb(175, 0, 0);
}
.divider{
  margin:0;
  margin-left: -10px;
  width: 219px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
.image{
  border-radius: 5px;
  display: flex;
  width: 30px;
  height: 26px;
  margin-top: 3px;
  margin-right: 5px;
}

/* rgb(0, 162, 255) */

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .mainlogo {
    font-size: 39px;
  }
  .link {
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  .logo {
    font-size: 30px;
  }
}

/* ===========================
   1024px (Medium Screens / Tablets)
=========================== */
@media screen and (max-width: 1024px) {
  .navbar {
    padding: 10px;
  }
  .mainlogo {
    font-size: 25px;
    padding-left: 50px;
  }
  .link {
    font-size: 12px;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
  .logo {
    font-size: 20px;
  }
  .icon {
    height: 15px;
    width: 15px;
  }
}

/* ===========================
   768px (Small Tablets / Landscape Phones)
=========================== */
@media screen and (max-width: 768px) {
  .leftcontainer{
    display: flex;
    align-items: start;
    flex: 1;
  }
  .rightcontainer {
    display: flex;
    flex: 1;
  }
  .mainlogo {
    font-size: 28px;
    padding-left: 0;
  }
  .link {
   display: none;
  }
  .logo {
    display: none;
  }
}

/* ===========================
   375px (Mobile Phones)
=========================== */
@media screen and (max-width: 425px) {
  .navbar{
    width: 480px;
  }
  .mainlogo {
    font-size: 20px;
  }
  .link {
    display: none;
  }
  .icon {
    height: 16px;
    width: 16px;
  }
  .logo {
    font-size: 20px;
  }
  .dropdown {
    width: 200px;
    font-size: 14px;
  }
}
