.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    /* clean white background */
    /* border-bottom: 4px solid #E44D26;  */
    padding: 12px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-family: 'Inter', sans-serif;
}

.leftcontainer {
    display: flex;
    align-items: center;
}

.mainlogo {
    color: #E44D26;
    font-size: 34px;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 1px;
    transition: transform 0.2s, color 0.2s;
}

.mainlogo:hover {
    color: #ff6b4a;
    transform: scale(1.05);
}

.midcontainer {
    display: flex;
    gap: 35px;
    justify-content: center;
    flex: 1;
}

.link {
    display: flex;
    margin-top: 10px;
    color: #E44D26;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    position: relative;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #E44D26;
    transition: 0.3s;
}

.link:hover::after,
.link.active::after {
    width: 100%;
}

.link:hover {
    color: #ff6b4a;
    font-weight: 700;
}

.link.active {
    color: #E44D26;
    font-weight: 700;
}

.rightcontainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    margin-right: 5px;
    width: 32px;
    height: 32px;
    transition: transform 0.2s, filter 0.2s;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.logo {
    margin: 10px;
    color: red;
    font-size: 40px;
    transition: transform 0.2s, filter 0.2s;
    cursor: pointer;
}

.divider {
    height: 1px;
    margin: 5px 0;
    background-color: #f2f2f2;
}


.cartWrapper {
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.cartPreview {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cartName {
    font-weight: bold;
    font-size: 20px;

}
.cartSidedishContainer,
.cartFlavourContainer,
.cartPriceContainer,
.cartQuantityContainer{
    padding: 0px 10px 0px;
    justify-content: space-between;
    display: flex;
    font-weight: bold;
}

.cartQuantity{
    color: rgb(48, 0, 152);
}
.cartPrice{
    color: rgb(123, 205, 0);
}
.cartFlavour{
    color: rgb(123, 205, 0);
}
.cartSidedish{
    color: rgb(123, 205, 0);
}
.quantity {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0px 10px 0px;
}
.addminusContainer{
    display: flex;
    gap: 10px;
}
.flavourItem {
  font-weight: bold;
}

.flavourSpicy {
  color: #ff4b4b;
}

.flavourSweet {
  color: #4fc3f7;
}

.flavourSalty {
  color: #fdd835;
}

.minus,
.plus {
    color: white;
    font-weight: bold;
    text-align: center;
    padding:0px 10px 0px;
    border-radius: 5px;
}
.minus,
.plus:hover {
    cursor: pointer;
}
.minus{
    background-color: rgb(255, 77, 169);
}
.plus{
    background-color: rgb(40, 216, 255);
}
.disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;
  background-color: rgb(255, 137, 137);
}


.remove {
    text-align: center;
    background-color: rgb(255, 62, 62);
    width: 80px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.remove:hover{
    cursor: pointer;
}
.checkoutBtn{
    background-color: rgb(33, 45, 33);
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px;
    text-align: center;
    border-radius: 10px;
}
.checkoutBtn:hover{
    background-color: green;
    cursor: pointer;
}
.checkoutTotal{
    font-weight: bold;
    font-size: 20px;
}
.checkoutPrice{
    font-weight: bold;
    font-size: 20px;
    color: rgb(128, 188, 37);
}

@media screen and (max-width: 1440px) {
    .mainlogo {
        font-size: 40px;
    }

    .midcontainer {
        gap: 20px;
    }

    .link {
        font-size: 20px;
    }

    .icon {
        width: 35px;
        height: 35px;
}
}

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 12px 30px;
    }

    .mainlogo {
        font-size: 35px;
    }

    .midcontainer {
        gap: 15px;
    }

    .link {
        font-size: 20px;
    }

    .icon {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
        height: 70px;
    }
    .rightcontainer {
        gap: 15px;
    }

    .mainlogo {
        font-size: 30px;
    }
}
@media screen and (max-width: 425px) {
    .navbar {
        padding: 30px;
        height: 100px;
    }
    .rightcontainer {
        gap: 15px;
    }
    .link {
        font-size: 25px;
    }

    .icon {
        width: 32px;
        height: 32px;
    }
    .mainlogo {
        font-size: 40px;
    }
}