.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(255, 255, 255);
    gap: 20px;
   padding:50px;
}

.box{
    flex: 1 1 calc(33.33% - 20px);
    font-size: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: black 3px solid;
    width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 255);
}

.image{
    border-radius: 10px;
}
.text{
    
    padding: 5px;
    color: rgb(0, 0, 0);
}