@import "tailwindcss";

:root {
  --textColor: rgb(0, 0, 0);
  --softbg: #ffffff;
  --softTextColor: #626262;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.main {
 flex: 1;

  padding-left: 300px;
  padding-right: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  color: var(--textColor);
  margin-top: -20px;
}


@media screen and (max-width: 1440px) {
.main{
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 120px;
   width: 1500px;
}
.body{
  width: 1500px;
}
}
@media screen and (max-width: 1024px) {
.main{
  /* padding-top: 80px; */
  padding-left: 120px;
  padding-right: 120px;
}
}
@media screen and (max-width: 768px) {
.main{
  /* padding-top: 70px; */
  padding-left: 20px;
  padding-right: 20px;
}
}
@media screen and (max-width: 768px) {
.main{
  /* padding-top: 80px; */
  padding-left: 10px;
  padding-right: 10px;
}
}