@import "tailwindcss";

:root{
  --bg:rgb(255, 255, 255);
  --textColor:rgb(0, 0, 0);
  --softbg:#ffffff;
  --softTextColor:#626262;
}

.container{
  display: flex;
  background-color: var(--bg);
  color: var(--textColor);
}

