@import "tailwindcss";

:root {
  --textColor: rgb(0, 0, 0);
  --softbg: #ffffff;
  --softTextColor: #626262;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.main {
 flex: 1;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  color: var(--textColor);
  margin-top: -20px;
}

@media screen and (max-width: 425px) {
.main{
  margin: 0;
  padding: 0;
}
}