.mainbanner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a202c;
    margin-top: 110px;
    height: 60vh;
    max-height: 650px;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    /* border: #e53e3e 5px solid; */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
    position: relative;
    transition: all 0.5s ease;
}

.midbanner {
    /* background-image: url('https://media.istockphoto.com/id/2162958657/photo/variety-of-korean-food.jpg?s=2048x2048&w=is&k=20&c=1QEUN5wauoXffk4wiGLbNc20UIEOmp_7Yyr9OyQeE2s='); */
    /* background-image: url('https://i.pinimg.com/1200x/1a/e4/06/1ae4066c666821d44aec34cb42fd8a5e.jpg'); */
    /* background-image: url('https://i.pinimg.com/1200x/06/48/8a/06488a29a35ce4dfacae8e06f79a6293.jpg'); */
    background-image: url('https://i.pinimg.com/1200x/24/58/57/24585717b5a02120e430a8dc583d3c0a.jpg');
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-size: contain; */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.75; */
    transition: opacity 0.5s ease;
}

.toptext,
.midtext,
.bottext {
    position: absolute;
    font-weight: 800;
    text-align: center;
    line-height: 1;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toptext {
    font-size: 5vw;
    top: 25%;
    color: #ffffff;
}

.midtext {
    font-size: 8vw;
    top: 50%;
    color: #e53e3e;
}

.bottext {
    font-size: 3vw;
    top: 75%;
    color: #f7fafc;
}

@media (max-width: 1440px) {
    .mainbanner {
        margin-top: 110px;
        height: 70vh;
        width: 90%;
    }

    .toptext {
        font-size: 7vw;
        top: 25%;
    }

    .midtext {
        font-size: 11vw;
        top: 50%;
    }

    .bottext {
        font-size: 5vw;
        top: 75%;
    }
}

@media (max-width: 1024px) {
    .mainbanner {
        margin-top: 50px;
        height: 50vh;
        width: 95%;
    }

    .toptext {
        font-size: 7vw;
        top: 25%;
    }

    .midtext {
        font-size: 11vw;
        top: 50%;
    }

    .bottext {
        font-size: 5vw;
        top: 75%;
    }
}

@media (max-width: 768px) {
    .mainbanner {
        height: 90vh;
        max-height: 450px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
    }

    .toptext {
        font-size: 9vw;
        top: 30%;
    }

    .midtext {
        font-size: 14vw;
        top: 50%;
    }

    .bottext {
        font-size: 7vw;
        top: 70%;
    }
}

@media (max-width: 425px) {
    .mainbanner {
        margin-top: 210px;
        height: 190vh;
        width: 1450px;
        /* border-width: 3px; */
    }

    .toptext {
        font-size: 25vw;
        top: 30%;
    }

    .midtext {
        font-size: 15vw;
        top: 50%;
    }

    .bottext {
        font-size:15vw;
        top: 70%;
    }
}

.leftbanner,
.rightbanner,
.header,
.body,
.highlight,
.smalltext {
    display: none;
}