.mainContianer {
    position: fixed;
    bottom: 20px;        /* distance from bottom */
    right: 20px;         /* distance from right */
    
    background-color: red;
    color: white;
    font-size: 60px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    
    text-align: end;
}

.icon {
    height: 90px;
    width: 90px;
}
