
@media screen and (max-width: 425px) {
.mainContianer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 0, 0, 0.474);
    border: red 10px solid;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 60px;
    padding: 20px;
    border-radius: 30px;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.4);
    z-index: 9999;
    text-align: end;
    cursor: pointer;
}

.wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 9999;
}

.icon {
    height: 190px;
    width: 190px;
    transition: transform 0.3s ease;  
}

.rotate {
    transform: rotate(-90deg);
}
.menuIcon{
    height: 120px;
    width: 120px;
}

.popMenu {
    background: rgb(255, 255, 255);
    border-radius: 90px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    height: 26vh;
    padding: 0 135px 0 45px;
    display: flex;
    align-items: center;
    gap: 35px;
    animation: slide 0.25s ease-out;
    margin-right: 140px;
}

@keyframes slide {
    from { transform: translateX(20px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.popMenu a {
    font-size: 26px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.popMenu a:hover {
    color: red;
}
.topMenu {
    position: absolute;
    bottom: 150px; 
    right: 5px;

    background: rgb(255, 255, 255);
    border-radius: 90px;
    padding: 45px 45px 125px 45px;
    width: 220px;

    display: flex;                
    flex-direction: column;       
    align-items: center;          
    justify-content: center;      

    gap: 35px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    animation: drop 0.25s ease-out;
}

@keyframes drop {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
}