.container{
    display: grid;
    justify-content: center;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(255, 255, 255);
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.box{
    gap: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    width: 450px;
    height: 475px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2%;
}
.image{
    padding: 30px;
    padding-top: 50px;
    width: 440px;
    height: 300px;
    border-radius: 10px;
}
.pricecontainer{
    background-color: rgb(240, 240, 240);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 10px;
    width: 409px;
    height: 125px;
    padding: 20px;
}
.icon{
    margin-top: 0;
    height: 28px;
    width: 28px;
}
.text{
    display: flex;
    flex: 3;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0); 
    padding-left: 10px;
    margin-bottom: 5px;  
}
.smalltext{
    margin-top: 8px;
    padding-left: 6px;
}
.smalltext1{
    margin-left: 10px;
}
.price{
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content:right;
    color: rgb(255, 0, 0);
    flex: 1;
    font-size: 20px;
    font-weight: bold;
}

.buy{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(143, 255, 139);
    background-color:rgb(0, 0, 0);
    border:rgb(0, 0, 0) 1px solid;
    border-radius: 7px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
}
.buy:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(143, 255, 139);
    border:rgb(0, 0, 0) 1px solid;
    
    cursor: pointer;
}
.cartContainer{
    display: flex;
    gap: 10px;
}

.cart{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(138, 222, 255);
    background-color:rgb(0, 0, 0);
    border:rgb(0, 0, 0) 1px solid;
    cursor: pointer;
    border-radius: 7px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
}
.cart:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(138, 222, 255);
    border:rgb(0, 0, 0) 1px solid;
    
}
.drawer{

    width: 200px;
    height: 200px;
}
.close{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: rgb(255, 101, 101);
    font-size: 23px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(0, 0, 0);
    border:rgb(0, 0, 0) 3px solid;
    border-radius: 7px;
    padding-bottom: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
}
.close:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 80, 80);
    border:rgb(0, 0, 0) 1px solid;
    
    cursor: pointer;
}
.order{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: rgb(118, 255, 152);
    font-size: 23px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(0, 0, 0);
    border:rgb(0, 0, 0) 3px solid;
    border-radius: 7px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
    padding-bottom: 10px;
}
.order:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 192, 48);
    border:rgb(0, 0, 0) 1px solid; 
    cursor: pointer;
}
.topcolumn{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: rgb(185, 185, 185) 2px solid;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex: 1;
}
.midcolumn{
    flex: 5;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.checkbox{
    display: flex;
    padding: 5px;
}
.logo{
    margin-top: 4px;
    height: 28px;
    width: 28px;
}
.maintext{
    font-size: 24px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 7px;
}
.botcolumn{
    flex: 1;
    padding: 20px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: rgb(185, 185, 185) 2px solid;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}
.content{
    padding-bottom: 10px;
}

/* 1440px - Large Desktop */
@media (max-width: 1440px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    .box {
        width: 400px;
        height: 446px;
    }
    .image {
        max-height: 280px;
    }
    .pricecontainer {
        width: 380px;
        margin-left: 10px;
        padding: 15px;
    }
    .text,
    .price {
        font-size: 20px;
    }
    .buy, 
    .cart {
        font-size: 15px;
        padding: 10px 17px;
    }
}

/* 1024px - Tablet Landscape / Small Laptop */
@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 5%;
        padding-right: 5%;
    }
    .box {
        width: 400px;
        height: 415px;
    }
    .image {
        max-height: 250px;
    }
}

/* 768px - Tablet Portrait */
@media (max-width: 768px) {
    .container {
        grid-template-columns:repeat(2, 1fr);
        gap: 10px;
    }
    .box {
        width: 340px;
        height: 370px;
    }
    .image {
        max-height: 220px;
    }
    .pricecontainer {
        width: 320px;
        height: 110px;
    }
     .text {
        font-size: 18px;
    }
    .price {
        font-size: 16px;
    }
    .buy, 
    .cart {
        font-size: 13px;
        padding: 4px 8px;
    }
}

/* 500px - Mobile */
@media (max-width: 500px) {
    .container { 
        grid-template-columns: 1fr;
        padding: 10px;
        padding-top: 20px;
    }
    .box {
        padding-top: 10px;
        justify-self: center;
        align-self: center;
        width: 400px;
        height: 380px;
    }
    .image {
        padding: 15px;
        max-height: auto;
    }
    .pricecontainer {
        width: 380px;
        margin-left: 10px;
        padding: 15px;
    }
    .text {
        font-size: 18px;
    }
    .price {
        font-size: 16px;
    }
    .buy, .cart {
        font-size: 14px;
        padding: 4px 8px;
    }
}